.Hamburger .container {
  display: inline-block;
  cursor: pointer;
}

.Hamburger .bar_1,
.bar_2,
.bar_3 {
  height: 5px;
  width: 35px;
  background-color: black;
  margin: 6px 0;
}

.change .bar_1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar_2 {
  opacity: 0;
}

.change .bar_3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
